.group-container {
  width: 90%;
  margin: 0 auto;
  margin-left: 120px;
  padding-top: 75px;
}

.group {
  display: inline-block;
  border: 2px solid black;
  width: 30%;
  height: 100%;
  margin: 0;
}

.row-1 {
  margin: 10px;
  height: 400px;
}

.row-2 {
  margin: 10px;
  height: 400px;
}

.row-3 {
  margin: 10px;
  height: 400px;
}

.right {
  right: 1px;
}
