<select class="custom" name="category">
  <option>Category</option>
  <option value="accomodation">accommodation</option>
  <option>eadministrative-areas-buildings</option>
  <option value="airport">airport</option>
  <option>atm-bank-exchange</option>
  <option value="eat-drink">eat-drink</option>
  <option value="going-out">going-out</option>
  <option>hospital-health-care-facility</option>
  <option>leisure-outdoor</option>
  <option>natural-geographical</option>

  <option>petrol-station</option>

  <option>restaurant</option>

  <option>snacks-fast-food</option>

  <option>sights-museums</option>

  <option>shopping</option>

  <option>transport</option>

</select>
<button type="button" id="button" name="button">Submit</button>
