<div class="group-container">
  <h1 class="groups-header">GROUPS</h1>
  <div class="row-1">
    <div class="group one">
      <div class="group-name">
        <h3>Marketing Team</h3>
      </div>
      <h4>Latest Meet Ups</h4>
    </div>
    <div class="group two">
      <div class="group-name">
        <h3>High School Friends</h3>
      </div>
      <h4>Latest Meet Ups</h4>
    </div>
    <div class="group right three">
      <div class="group-name">
        <h3>Basketball Team</h3>
      </div>
      <h4>Latest Meet Ups</h4>
    </div>
  </div>
  <div class="row-2">
    <div class="group four">
      <div class="group-name">
        <h3>Coffee Club</h3>
      </div>
      <h4>Latest Meet Ups</h4>
    </div>
    <div class="group five">
      <div class="group-name">
        <h3>Book Club</h3>
      </div>
      <h4>Latest Meet Ups</h4>
    </div>
    <div class="group right six">
      <div class="group-name">
        <h3>Design Team</h3>
      </div>
      <h4>Latest Meet Ups</h4>
    </div>
  </div>
  <div class="row-3">
    <div class="group seven">
      <div class="group-name">
        <h3>The Band</h3>
      </div>
      <h4>Latest Meet Ups</h4>
    </div>
    <div class="group eight">
      <div class="group-name">
        <h3>Party Friends</h3>
      </div>
      <h4>Latest Meet Ups</h4>
    </div>
    <div class="group right nine">
      <div class="group-name">
        <h3>Create New Group</h3>
      </div>
      <h4>Latest Meet Ups</h4>
    </div>
  </div>
</div>
    <!-- <div class="container">
		<% @groupchats.each do |groupchat| %>
		<div>
			<a href='/groupchats/<%=groupchat.id %>'><%= groupchat.chat_name %></a>
		</div>
		<%  end  %>
	 </div> -->
