
<div class="container user_show_body"><br>

    <h1 class="page-header" > <%= current_user.user_name %>'s Profile</h1><br>

    <a href='/groupchats/new'>Add new group</a>
    <div class="container"> 
		<% @groupchats.each do |groupchat| %>
		<div>
			<a href='/groupchats/<%=groupchat.id %>'><%= groupchat.chat_name %></a>
		</div>
		<%  end  %>
	</div>

</div>


