
<div class="group-container">
  <div class="row-1">
    <div class="group one">
    </div>
    <div class="group two">
    </div>
    <div class="group right three">
    </div>
  </div>
  <div class="row-2">
    <div class="group four">

    </div>
    <div class="group five">

    </div>
    <div class="group right six">

    </div>
  </div>
  <div class="row-3">
    <div class="group four">

    </div>
    <div class="group five">

    </div>
    <div class="group right six">

    </div>
  </div>
</div>
    <!-- <div class="container">
		<% @groupchats.each do |groupchat| %>
		<div>
			<a href='/groupchats/<%=groupchat.id %>'><%= groupchat.chat_name %></a>
		</div>
		<%  end  %>
	 </div> -->
