<!-- <div class="content-container">
  <div class="flip-container1" ontouchstart="this.classList.toggle('hover');">
    <div id="flipper_box1">
        <div class="flipper">
          <div class="front1">
            <h1>FRONT 1</h1>
          </div>
          <div class="back1">
            <h1>BACK1</h1>
          </div>
        </div>
    </div>
  </div>

  <div class="flip-container2" ontouchstart="this.classList.toggle('hover');">
    <div id="flipper_box2">
        <div class="flipper2">
          <div class="front2">
            <h1>FRONT2</h1>
          </div>
          <div class="back2">
            <h1>BACK2</h1>
          </div>
        </div>
    </div>
  </div>
</div> -->
<div class="content-container">
  <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
  	<div class="flipper">
  		<div class="front">
        <div class="inner">
          <h1>Front</h1>
        </div>
  		</div>
  		<div class="back">
        <div class="inner">
          <h1>Back</h1>
        </div>
  	   </div>
  	</div>
  </div>

  <div class="flip-container1" ontouchstart="this.classList.toggle('hover');">
  	<div class="flipper1">
  		<div class="front1">
        <div class="inner">
          <h1>Front</h1>
        </div>
  		</div>
  		<div class="back1">
        <div class="inner">
          <h1>Back</h1>
        </div>
  	   </div>
  	</div>
  </div>
</div
