<div class="content-container">
  <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
  	<div class="flipper">
  		<div class="back">
        <div class="inner">
          <button class="flip-button"><i class="material-icons">chat_bubble</i></button>
          <h1>Front</h1>
        </div>
  		</div>
  		<div class="front">
        <div class="inner">
          <button class="flip-button"><i class="material-icons">chat_bubble</i></button>
          <div class="full-container">
            <div class="locationList">

            </div>
          </div>
        </div>
  	  </div>
    </div>
  </div>
  <div class="flip-container1" ontouchstart="this.classList.toggle('hover');">
  	<div class="flipper1">
  		<div class="front1">
        <div class="inner">
          <h1>Front</h1>
        </div>
  		</div>
  		<div class="back1">
        <div class="inner">
          <h1>Back</h1>
        </div>
  	  </div>
  	</div>
  </div>
</div>
