<head>
  <title>Pitch</title>
  <!-- <link rel="shortcut icon" href="//www.twilio.com/marketing/bundles/marketing/img/favicons/favicon.ico"> -->
  <!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"> -->
  <!-- Styling for chat box -->
  <style type="text/css">
            .chat-box
            {
                padding-top: 50px;
                width: 500px;
                border-radius: 25px;
                padding-left: 50px;
                border-radius: 25px;
            }

            .header
            {
                padding: 10px;
                color: white;
                font-size: 14px;
                font-weight: bold;
                background-color: #6d84b4;
            }

            .messages
            {
                padding: 10px;
                height: 800px;
                background-color: green;
                background-color: rgb(237, 239, 244);
                border-width: 1px;
                border-color: black;
                border-style: solid;
                overflow-y: scroll;
                
            }

            .messages ul
            {
                padding: 0px;
                list-style-type: none;
            }

            .messages ul li
            {
                height: auto;
                margin-bottom: 10px;
                clear: both;
                padding-left: 10px;
                padding-right: 10px;
            }

            .messages ul li span
            {
                display: inline-block;
                max-width: 200px;
                background-color: white;
                padding: 5px;
                border-radius: 4px;
                position: relative;
                border-width: 1px;
                border-style: solid;
                border-color: grey;
            }

            .messages ul li span.left
            {
                float: left;
            }

            .messages ul li span.left:after
            {
                content: "";
                display: inline-block;
                position: absolute;
                left: -8.5px;
                top: 7px;
                height: 0px;
                width: 0px;
                border-top: 8px solid transparent;
                border-bottom: 8px solid transparent;
                border-right: 8px solid white;
            }

            .messages ul li span.left:before
            {
                content: "";
                display: inline-block;
                position: absolute;
                left: -9px;
                top: 7px;
                height: 0px;
                width: 0px;
                border-top: 8px solid transparent;
                border-bottom: 8px solid transparent;
                border-right: 8px solid black;
            }

            .messages ul li span.right:after
            {
                content: "";
                display: inline-block;
                position: absolute;
                right: -8px;
                top: 6px;
                height: 0px;
                width: 0px;
                border-top: 8px solid transparent;
                border-bottom: 8px solid transparent;
                border-left: 8px solid #dbedfe;
            }

            .messages ul li span.right:before
            {
                content: "";
                display: inline-block;
                position: absolute;
                right: -9px;
                top: 6px;
                height: 0px;
                width: 0px;
                border-top: 8px solid transparent;
                border-bottom: 8px solid transparent;
                border-left: 8px solid black;
            }

            .messages ul li span.right
            {
                float: right;
                background-color: #dbedfe;
            }

            .clear
            {
                clear: both;
            }

            .input-box
            {
                background-color: white;
                height: 100px;
                padding: 0px;
                border-radius: 25px;
            }

            .input-box textarea
            {
                padding: 0px;
                width: 478px;
                height: 100%;
                display: inline-block;
                outline: 0px;
                border-width: 0px;
                resize: none;
                border-width: 1px;
                border-color: black;
                border-style: solid;
                font-size: 30px;
                padding: 10px;
                border-top-width: 0px;
                border-radius: 25px;
            }
    </style>
  <link rel="stylesheet" href="./public/css/chat.css">
</head>
<body>
<div id="chat_container">
<section id="chat_section">
      <!-- <div id="messages">
          <textarea id="chat-input" type="text" rows='3' placeholder="Type Message Here" autofocus style="border: none"></textarea>
      </div> -->
<div class="chat-box">
    <div class="header">Pitch User </div>
        <div id="messages" class="messages">
            <ul>
                <li>
                    <span class="left">Hello</span>
                    <div class="clear"></div>
                </li> 
                   
            </ul>
            <div class="clear"></div>
        </div>
            
    <div class="input-box">
        <textarea placeholder="Enter message"></textarea>
    </div>
</div>
</section>
    <% if session[:user_id] %>
      <div id="log_out_button">
        <form action="/sessions" method="POST">
          <input type="hidden" name="_method" value="DELETE">
          <input type="submit" value="Log Out">
        </form>
      </div>
    <% end %>
    <script src="//media.twiliocdn.com/sdk/rtc/js/ip-messaging/v0.9/twilio-ip-messaging.min.js"></script>
    <script src="//media.twiliocdn.com/sdk/js/common/v0.1/twilio-common.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="/js/chat.js"></script>
</div>


    <!-- logout button -->
  <div id="ahh">
    <form action="/temp_users/delete" method="POST" id="safe_exit">
      <input name="_method" type="hidden" value="DELETE" />
      <input type="submit" id="safe_button" value="Safe Exit">
    </form>
  </div>

  <% if session[:user_id] %>
    <form action="/allies/:id" method="POST" id="toggle"/>
      <input type="hidden" name="_method" value="PUT">

      <% if @user[:available?] == false %>
        <input type="hidden" name="available?" value="true">
        <input type="submit" name="" value="I'm avaiable to help">
      <%else%>
        <input type="hidden" name="available?" value="false">
        <input type="submit" name="" value="end chat">
      <%end%>
    </form>
  <% end %>
</body>
