<h2>Create a new location:</h2>

<div class="container">
  <form action='/proposals' method='post'>
    <div>
    Location Title: <input type="text" name="proposal[location_title]" placeholder="Location Title">
    </div>
    <div>
    Comment: <input type="text" name="proposal[comment]" placeholder="Comment">
    </div>
    <div>
    <input type="hidden" name="proposal[pitch_id]" value="<%= @pitch.id%>">
    <input type="submit" value="submit">
    </div>
    </div>
  </form>

  <% if @error %>
    <%= @error %>
  <% end %>

</div>