<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <!--
    application.css is where you put your styles
  -->

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/group-display.css">
  <link rel="stylesheet" href="/css/application.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
  <script src="/js/api-test.js"></script>

  <title>Website</title>
</head>
<body >

<header class="header-container">
    <div class="nav-bar">
      <% if session[:user_id] %>

        <div class="main-header click-link">
          <a href="/"><h1>PITCH</h1></a>
        </div>

        <div class="nav-container">
          <div class="user-header nav click-link">
            <a href="/users/<%= session[:user_id] %>"><%=  "#{current_user.user_name}".capitalize%></a>
          </div>
          <div class="logout nav click-link">
            <a href="/sessions/delete">LOGOUT</a>
          </div>
        </div>

      <% else %>
        <div class="login click-link">
          <a href="/sessions/new">Login</a>
        </div>

        <div class="register click-link">
          <a href="/users/new">Register</a>
        </div>
      <% end %>
    </div>
</header>
  <%= yield %>
</body>
</html>
